* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: black;
    height: 80px;
    width: 100%;
    position: fixed;
    position: top;
    top: 0;
    z-index: 100;
    user-select: none;
}

nav ul {
    /* float: left; */
    position: left;
    margin-left: 1%;
}

nav ul li {
    display: inline-block;
    padding-top: 30px;
    line-height: 30px;
    margin: 0 0;
}

nav ul li.logo span{
    font-size: 40px;
    font-family: 'Roboto';
    max-width: 17%;
    max-height: 70px;
}

nav ul li.logo a{
    font-size: 35px;
    font-family: 'Roboto';
    max-width: 17%;
    max-height: 70px;
    text-transform: none;
    text-decoration: none;
}

nav ul li.login{
    float: right;
    font-size: 35px;
    font-family: 'Roboto';
    max-width: 16%;
    max-height: 30px;
}

nav ul li.login a{
    padding-right: 0;
}

nav ul li.login img{
    float: right;
    max-height: 30px;
    margin-top: 8px;
    padding-right: 30px;
    color: white;
    padding-bottom: -5px;
}

nav ul li a {
    color: white;
    font-family: 'Roboto';
    font-size: 13px;
    padding: 0px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    text-decoration: underline;
    transition: 0.5s;
    color: #0EAEEB;
}

.checkbtn {
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


@media (max-width: 995px){
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 11px;
        margin: 0 0;
    }
}

@media (max-width: 768px){
    .checkbtn{
        display: block;
    }

    .logo, .login img{
        display: none;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li.login {
        float: center;
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li.login a {
        font-size: 20px;
        text-align: left;
        padding-right: 100px;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0EAEEB;
    }

    #check:checked ~ ul {
        left: 0;
    }
}


/* Explore page */


.product{
    /* width: 80%;  */
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    padding-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
    font-family: 'Roboto';
    user-select: none;
}
 
h1{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Roboto';
}
 
h2{
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: #000000;
    /* padding-top: 450px; */
    padding-left: 50px;
    font-family: 'Roboto';
}
 
h3{
    text-align: center;
    font-family: 'Roboto';
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: 'Roboto';
}

.row{
    margin-top: 5%;
    display: flex;
    /* justify-content: space-between; */
    text-align: left;
}

.product-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom:49%;
    opacity: 1;
}

.product-col h3{
    margin: auto;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #000000;
}

.product-col a{
    color: #fff;
    background-color: rgba(0, 173, 226, 0.65);
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    border-radius: 50px;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Roboto';
}

.box{
    width: 2000px;
    padding: 15px;
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(auto-fill,minmax(250px,auto));
    gap: 35px;
}

.product-col{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: left;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 12%);
    gap: 17.5px;
}

.product-col img{
    width: 100%;
}

.product-col img:hover{
    cursor: pointer;
    opacity: 0.95;
}

.box h3{
    font-size: 20px;
}


.options a:hover{
    background-color: rgba(0, 173, 226, 1);
}
 

.explore{
    background: rgb(0, 0, 0);
    height: 500px;
    width: 100%;
    position:relative;
    /* position: top; */
    top: 0;
    z-index: 40;
    user-select: none;
}

.product h2{
    text-align: left;
}
.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    /* align-items: center; */
    /* justify-content: center; */
    top: 45%;
    /* left: 50%; */
    /* margin: auto; */
    text-align: center;
}

.main-box{
    width: 500px;
    background: #fff;
    border: 1px solid #00adb5;
    height: 32px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    color: #00adb5;
    text-align: center;
    margin: auto;
}

.input-box{
    width: 470px;
    /* background: transparent; */
    border: none;
    height: 30px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
    outline: none;
    /* color: #00adb5; */
    text-align: left;
}

.search{
    transform: translate(10%, 25%);
    color: #777;
}


/* help */

.container-help{
    display: flex;
    width: 100%;
    /* height: 100vh; */
    background-color: white;
    align-items: center;
    justify-content: center;
    /* color: rgb(255, 255, 255); */
}

.contain{
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
   
    font-family: 'Roboto';
    overflow: hidden;
    background-color: transparent;
    width: 80%;
    height: 80%;
    gap: 10px;
}

.headd{
    background-color: #000000;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top{
    background-color: #000000;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.top h1{
    color: #fff;
}

.faq{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 15px;
    border: 2px solid black;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.faq h5{
    font-weight: 1200;
    font-size: 24px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: auto; */
    margin-left: 5px;
    border: 2px solid black;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
}

.bottom{
    width:100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.learn{
    margin-left: auto;
}


.questions{
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.bodyy{
    width: 90%;
    display: flex;
    align-items: left;
    flex-direction: column;
}
/* footer */
.section1{
    padding: 1% 6%;
}

footer .bor{
    border-bottom: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-height: 100%;
    gap: 185px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-height: 100%;
    /* margin-top: 80px; */
    background-color: #000000;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    overflow: hidden;
    margin-right: 0;
}

footer p{
    /* margin: 0 0 8px 0; */
    font-family: 'Roboto';
    color: white;
    padding-left: 0;
}

footer a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    font-family: 'Roboto';
    margin-right: 0;
}

footer a:hover{
    text-decoration: underline;
}

footer .follow{
    color: white;
}

footer .col img{
    border: 1px solid white;
    border-radius: 15px;
    max-width: 60%;
    /* float: right; */
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

#logofoot{
    /* float: left; */
    width: 100%;
}

#logofoot1{
    /* float: left; */
    width: 80%;
}

#small {
    font-size: smaller;
}

footer .copyright{
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Roboto';
    margin-top: 20px;
}