.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 200;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    font-size: 88px;
    font-family: 'Roboto';
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: black;
    height: 80px;
    width: 100%;
    position: fixed;
    position: top;
    top: 0;
    z-index: 100;
    user-select: none;
}

nav ul {
    /* float: left; */
    position: left;
    margin-left: 1%;
}

nav ul li {
    display: inline-block;
    padding-top: 30px;
    line-height: 30px;
    margin: 0 0;
}

nav ul li.logo span{
    font-size: 40px;
    font-family: 'Roboto';
    max-width: 17%;
    max-height: 70px;
}

nav ul li.logo a{
    font-size: 35px;
    font-family: 'Roboto';
    max-width: 17%;
    max-height: 70px;
    text-transform: none;
    text-decoration: none;
}

nav ul li.login{
    float: right;
    font-size: 35px;
    font-family: 'Roboto';
    max-width: 16%;
    max-height: 30px;
}

nav ul li.login a{
    padding-right: 0;
}

nav ul li.login img{
    float: right;
    max-height: 30px;
    margin-top: 8px;
    padding-right: 30px;
    color: white;
    padding-bottom: -5px;
}

nav ul li a {
    color: white;
    font-family: 'Roboto';
    font-size: 13px;
    padding: 0px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    text-decoration: underline;
    transition: 0.5s;
    color: #0EAEEB;
}

.checkbtn {
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


@media (max-width: 995px){
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 11px;
        margin: 0 0;
    }
}

@media (max-width: 768px){
    .checkbtn{
        display: block;
    }

    .logo, .login img{
        display: none;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li.login {
        float: center;
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li.login a {
        font-size: 20px;
        text-align: left;
        padding-right: 100px;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0EAEEB;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

.container{
    margin-top: 100px;
    width: 55%;
    height: 480px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -40px;
    user-select: none;
}

.container .box{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    gap: 10px;
}

.container h1{
    color: white;
    font-size: 35px;
}

.container .row{
    display: flex;
    flex-direction: row;
}

.container p{
    color: white;
    margin-top: 50px;
    font-size: 18px;
}

.container h5{
    color: white;
    font-size: 15px;
}

.container i{
    margin-top: 10px;
    color: white;
}

#next{
    width: 90px;
    height: 25px;
    background: white;
    border: 1px solid white;
    border-radius: 15px;
    float: right;
    margin-right: 170px;
    margin-top: 15px;
    cursor: pointer;
    color: black;
    margin-bottom: 10px;
    font-family: 'Roboto';
}

/* footer */
.section1{
    padding: 1% 6%;
}

footer .bor{
    border-bottom: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-height: 100%;
    gap: 185px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-height: 100%;
    margin-top: 80px;
    background-color: #000000;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    overflow: hidden;
    margin-right: 0;
}

footer p{
    /* margin: 0 0 8px 0; */
    font-family: 'Roboto';
    color: white;
    padding-left: 0;
    margin-bottom: 10px;
}

footer a{
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    font-family: 'Roboto';
    margin-right: 0;
}

footer a:hover{
    text-decoration: underline;
}

footer .follow{
    color: white;
}

footer .col img{
    border: 1px solid white;
    border-radius: 15px;
    max-width: 60%;
    /* float: right; */
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

#logofoot{
    /* float: left; */
    width: 100%;
}

#logofoot1{
    /* float: left; */
    width: 80%;
}

#small {
    font-size: smaller;
}

footer .copyright{
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Roboto';
    margin-top: 20px;
}